@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic');

body, html {
    margin: 0;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    height: 100%;
    font-size: 16px;
}

h1,h2,h3,h4,h5,p,ul,ol,li {
    margin: 0;
    padding: 0;
}

ul,ol,li {
    list-style: none;
}

* {
   box-sizing: border-box; 
}

.container  {
    max-width: 1200px;
    margin: 0 auto;
}